html{
    background-color:#000000;
}
img{
    display:block;
    margin:auto;

}

  
  h1{
    color: white;
    text-align: center;
  }
  h2 {
    color: white;
    text-align: center;
  }
  h3 {
    color: white;
    text-align: center;
  }
  
  p1 {
    color: white;
    font-family: verdana;
    font-size: 20px;
  }
  p2 {
    color: white;
    font-family: verdana;
    font-size: 20px;
  }